<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/admin_template}"
      th:with="currentPage='pupil_account'">
<head>
    <title>Quản lý tài khoản học sinh</title>
    <script type="text/javascript" src="/custom/js/admin/pupil_account/add.js"></script>
    <script type="text/javascript" src="/custom/js/admin/pupil_account/list.js"></script>
    
    <style>
        .detail-pupil {
            width: 56px;
            height: 28px;
        }
        .error-message-select {
            color: red;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layouts/import :: import_lib_datatable"></div>
    <div th:replace="layouts/import :: import_lib_bootstrap_time"></div>
    <div th:fragment="table-account">
    
        <div id="filter">
            <div class="row">
                <div class="col-md-3">
                    <label>Khối</label>
                    <select id="select_grade" class="form-control" v-model="grade">
                        <option value="0">Tất cả</option>
                        <option value="1">Khối 1</option>
                        <option value="2">Khối 2</option>
                        <option value="3">Khối 3</option>
                        <option value="4">Khối 4</option>
                        <option value="5">Khối 5</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Lớp</label>
                    <select id="select_class" class="form-control" v-model="classId">
                        <option value="0">Tất cả</option>
                        <option v-for="classs in listClass" :value="classs.id">{{classs.name}}</option>
                    </select>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div style="display: flex;" class="col-6">
                    <div class="input-group" style="float: right">
                        <input class="form-control" type="text" id="search_account"
                               placeholder="Tìm kiếm theo mã, tên, email, sđt" autocomplete="off">
                        <div class="input-group-append" id="btn_search_account">
                    <span class="input-group-text amber lighten-3">
                        <i style="font-size: 14px; cursor: pointer" class="fa fa-search text-grey"
                           aria-hidden="true"></i>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
        <div class="table-content" style="margin-top: 20px">
            <div style="float: right">
                <button data-toggle="modal" data-target="#modal_add_pupil_account"
                        class="btn btn-primary btn-sm" id="btn_add_pupil_account">Đăng ký
                </button>
            </div>
            <table class="table responsive" id="account_table">
                <thead>
                <th style="width: 5% !important" scope="col" class="text-center">Mã học sinh</th>
                <th style="width: 10% !important" scope="col" class="text-center">Họ tên</th>
                <th style="width: 5% !important" scope="col" class="text-center">Khối</th>
                <th style="width: 5% !important" scope="col" class="text-center">Lớp</th>
                <th style="width: 10% !important" scope="col" class="text-center">Email</th>
                <th style="width: 10% !important" scope="col" class="text-center">Số điện thoại</th>
                <th style="width: 10% !important" scope="col" class="text-center">Giới tính</th>
                <th style="width: 10% !important" scope="col" class="text-center">Địa chỉ</th>
                <th style="width: 10% !important" scope="col" class="text-center">Họ tên bố</th>
                <th style="width: 10% !important" scope="col" class="text-center">Họ tên mẹ</th>
                <th style="width: 10% !important" scope="col" class="text-center"></th>
                </thead>
            </table>
        </div>
    
        <div class="modal fade bd-example-modal-lg" id="modal_add_pupil_account" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Đăng ký tài khoản học sinh</h5>
                    </div>
    
                    <div class="modal-body">
                        <div class="row">
                            <form id="form-pupil-account" class="col-md-12">
                                <div class="form-group">
                                    <label>Khối:</label><sup style="color: red"> *</sup>
                                    <p class="error-message-select" v-bind:class="{ hidden : !isShowErrorGrade}">
                                        Trường này là bắt buộc</p>
                                    <select style="display: block; width: 100%; border: 1px solid #ccc; border-radius: 4px; height: 30px" v-model="grade">
                                        <option value="1">Khối 1</option>
                                        <option value="2">Khối 2</option>
                                        <option value="3">Khối 3</option>
                                        <option value="4">Khối 4</option>
                                        <option value="5">Khối 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Lớp:</label><sup style="color: red"> *</sup>
                                    <p class="error-message-select" v-bind:class="{ hidden : !isShowErrorClass}">
                                        Trường này là bắt buộc</p>
                                    <select style="display: block; width: 100%; border: 1px solid #ccc; border-radius: 4px; height: 30px" v-model="classId">
                                        <option v-for="classs in listClass" v-bind:value="classs.id">{{classs.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Họ tên:</label><sup style="color: red"> *</sup>
                                    <input v-model="name" name="name" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Email:</label><sup style="color: red"> *</sup>
                                    <input v-model="email" name="email" class="form-control input"/>
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại:</label><sup style="color: red"> *</sup>
                                    <input v-model="phone" name="phone" class="form-control input" type="number"/>
                                </div>
                                <div v-if="!isUpdate" class="form-group">
                                    <label>Mật khẩu:</label><sup style="color: red"> *</sup>
                                    <input v-model="password" id="password" name="password" type="password" class="form-control input" autocomplete="off"/>
                                </div>
                                <div v-if="!isUpdate" class="form-group">
                                    <label>Xác nhận mật khẩu:</label><sup style="color: red"> *</sup>
                                    <input v-model="passwordConfirm" name="passwordConfirm" type="password" class="form-control input" autocomplete="off"/>
                                </div>
                                <div class="form-group">
                                    <label>Giới tính:</label><sup style="color: red"> *</sup>
                                    <div>
                                        <label class="radio-container">
                                            <span style="font-size: 13px">Nam</span>
                                            <input type="radio" name="male" v-model="sex"
                                                   value="1">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">
                                            <span style="font-size: 13px">Nữ</span>
                                            <input type="radio" name="female" v-model="sex"
                                                   value="2">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">
                                            <span style="font-size: 13px">Khác</span>
                                            <input type="radio" name="other" v-model="sex"
                                                   value="9">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ:</label><sup style="color: red"> *</sup>
                                    <input v-model="address" name="address" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Họ tên bố:</label>
                                    <input v-model="fatherName" name="fatherName" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Họ tên mẹ:</label>
                                    <input v-model="motherName" name="motherName" class="form-control"/>
                                </div>
                            </form>
                        </div>
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="savePupilAccount()">
                            Lưu
                        </button>
                    </div>
            
                </div>
            </div>
        </div>
    
        <div class="modal fade bd-example-modal-lg" id="modal_delete_pupil" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa tài khoản học sinh</h5>
                    </div>
                    <div class="modal-body" style="text-align: center">
                        <h5>Bạn có muốn xóa tài khoản này</h5>
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Đóng</button>
                        <button id="btn_submit_delete" type="button" class="btn btn-primary btn-sm">
                            Xóa
                        </button>
                    </div>
            
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>