<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/admin_template}"
      th:with="currentPage='teach_class'">
<head>
    <title>Home</title>
    <script type="text/javascript" src="/custom/js/admin/teach_class/list_pupil.js"></script>
    <script type="text/javascript" src="/custom/js/admin/teach_class/list_material.js"></script>
    
    
    <link href="/libs/select2/dist/css/select2.css" rel="stylesheet"/>
    <script src="/libs/select2/dist/js/select2.full.js" type="text/javascript"></script>
    <style>
        .title-page {
            text-align: center;
        }
        .title-page h3 {
            font-weight: bold;
        }
        .title-table h4 {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layouts/import :: import_lib_datatable"></div>
    <div th:replace="layouts/import :: import_lib_bootstrap_time"></div>
    
    <div th:fragment="table-admin">
        
        <div class="title-page">
            <h3 th:text="'Quản lý môn ' + ${nameSubject} + ' lớp ' + ${classs.name}"></h3>
        </div>
    
        <div class="title-table">
            <h4>Danh sách tài liệu</h4>
        </div>
        <div class="table-content">
            <table class="table responsive" id="material_table">
                <thead>
                <th style="width: 35% !important" scope="col" class="text-center">Tên tài liệu</th>
                <th style="width: 20% !important" scope="col" class="text-center">Thể loại</th>
                <th style="width: 25% !important" scope="col" class="text-center">Nội dung</th>
                <th style="width: 25% !important" scope="col" class="text-center">Link</th>
                </thead>
            </table>
        </div>
    
        <div class="title-table">
            <h4>Danh sách lớp học</h4>
        </div>
        <div class="table-content">
            <table class="table responsive" id="teach_class_table">
                <thead>
                <th style="width: 35% !important" scope="col" class="text-center">Tên học sinh</th>
                <th style="width: 20% !important" scope="col" class="text-center">Giới tính</th>
                <th style="width: 25% !important" scope="col" class="text-center">Số điện thoại</th>
                <th style="width: 25% !important" scope="col" class="text-center">Điểm</th>
                
                </thead>
            </table>
        </div>
    
        <div class="modal fade" id="modal_material_content" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nội dung</h5>
                    </div>
                    <div class="modal-body">
                        <p id="material_name"></p>
                        <div style="min-height: 200px" class="form-control" id="textarea_material_content"></div>
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-sm" data-dismiss="modal" role="button">Đóng
                        </button>
                    </div>
            
                </div>
            </div>
        </div>
        
        
        <input hidden th:value="${grade}" type="text" id="grade">
        <input hidden th:value="${classs.id}" type="text" id="class_id">
        <input hidden th:value="${teachSubjectId}" type="text" id="subject_id">
    
    </div>

</div>
</body>
</html>