<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/admin_template}"
      th:with="currentPage='time_schedule'">
<head>
    <title>Home</title>
    <script type="text/javascript" src="/custom/js/admin/time_schedule/time_schedule.js"></script>
    <link th:href="@{/custom/css/time_schedule.css}" rel="stylesheet" media="screen"/>
    <link href="/libs/select2/dist/css/select2.css" rel="stylesheet"/>
    <script src="/libs/select2/dist/js/select2.full.js" type="text/javascript"></script>
    <style>

    </style>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layouts/import :: import_lib_datatable"></div>
    <div th:replace="layouts/import :: import_lib_bootstrap_time"></div>
    <div th:fragment="table-admin">
        
        <div id="time_schedule">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px">
                <div style="display: flex; align-items: center">
                    <label style="margin-bottom: 0">Chọn lớp: </label>
                    <select id="select-class" style="width: 160px; border-radius: 4px; margin-left: 16px; padding-left: 4px; height: 30px" v-model="className">
                        <option v-bind:id="'class_id_' + classs.id" v-for="classs in listClass">{{classs.name}}</option>
                    </select>
                </div>
                
            </div>
            <h4>Giáo viên chủ nhiệm: {{homeroomTeacher}}</h4>
            <h4>Phòng học mặc định: {{roomNameDefault}}</h4>
            
            <h2 style="text-align: center; margin-bottom: 16px;">
                Thời khóa biểu lớp {{className}}
            </h2>
            <div style="display: flex">
                <div class="list-session">
                    <div class="col_time"></div>
                    <div class="session">Buổi sáng</div>
                    <div class="session" style="height: 100px; line-height: 103px;">
                        Buổi chiều</div>
                </div>
                
                <div class="list_col_time">
                    <div class="col_time"></div>
                    <div style="font-size: 14px" class="col_time" th:each="frame : ${listFrame}" th:text="${frame.name}"></div>
                </div>
        
                <div class="list-subject">
                    <div class="subject-item-title">Thứ hai</div>
                    <div v-for="timeSchedule in listTimeScheduleMonday"
                         :id="'time-schedule-' + timeSchedule.id" class="time-schedule-cell">
                        <div>{{timeSchedule.nameSubject}} - {{timeSchedule.nameTeacher}}</div>
                        <div v-if="timeSchedule.showRoomName">{{timeSchedule.roomName}}</div>
                    </div>
                </div>
        
                <div class="list-subject">
                    <div class="subject-item-title">Thứ ba</div>
                    <div v-for="timeSchedule in listTimeScheduleTuesday"
                         :id="'time-schedule-' + timeSchedule.id" class="time-schedule-cell">
                        <div>{{timeSchedule.nameSubject}} - {{timeSchedule.nameTeacher}}</div>
                        <div v-if="timeSchedule.showRoomName">{{timeSchedule.roomName}}</div>
                    </div>
                </div>
                <div class="list-subject">
                    <div class="subject-item-title">Thứ tư</div>
                    <div v-for="timeSchedule in listTimeScheduleWednesday"
                         :id="'time-schedule-' + timeSchedule.id" class="time-schedule-cell">
                        <div>{{timeSchedule.nameSubject}} - {{timeSchedule.nameTeacher}}</div>
                        <div v-if="timeSchedule.showRoomName">{{timeSchedule.roomName}}</div>
                    </div>
                </div>
    
                <div class="list-subject">
                    <div class="subject-item-title">Thứ năm</div>
                    <div v-for="timeSchedule in listTimeScheduleThursday"
                         :id="'time-schedule-' + timeSchedule.id" class="time-schedule-cell">
                        <div>{{timeSchedule.nameSubject}} - {{timeSchedule.nameTeacher}}</div>
                        <div v-if="timeSchedule.showRoomName">{{timeSchedule.roomName}}</div>
                    </div>
                </div>
    
                <div class="list-subject">
                    <div class="subject-item-title">Thứ sáu</div>
                    <div v-for="timeSchedule in listTimeScheduleFriday"
                         :id="'time-schedule-' + timeSchedule.id" class="time-schedule-cell">
                        <div>{{timeSchedule.nameSubject}} - {{timeSchedule.nameTeacher}}</div>
                        <div v-if="timeSchedule.showRoomName">{{timeSchedule.roomName}}</div>
                    </div>
                </div>
                
                <div class="list-subject">
                    <div class="subject-item-title">Thứ bảy</div>
                    <div v-for="timeSchedule in listTimeScheduleSaturday"
                         :id="'time-schedule-' + timeSchedule.id" class="time-schedule-cell">
                        <div>{{timeSchedule.nameSubject}} - {{timeSchedule.nameTeacher}}</div>
                        <div v-if="timeSchedule.showRoomName">{{timeSchedule.roomName}}</div>
                    </div>
                </div>
    
                <div class="list-subject">
                    <div class="subject-item-title">Chủ nhật</div>
                    <div v-for="timeSchedule in listTimeScheduleSunday"
                         :id="'time-schedule-' + timeSchedule.id" class="time-schedule-cell">
                        <div>{{timeSchedule.nameSubject}} - {{timeSchedule.nameTeacher}}</div>
                        <div v-if="timeSchedule.showRoomName">{{timeSchedule.roomName}}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="modal fade bd-example-modal-lg" id="modal_add_time_schedule" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="text-align: center" class="modal-title">Thêm thời khóa biểu: {{nameClass}} - {{dayOfWeek}} - {{nameFrameTime}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="form-group">
                                <label>Môn học:</label><sup style="color: red"> *</sup>
                                <p class="error-message" v-bind:class="{ hidden : !isShowErrorSubject}">
                                    Trường này là bắt buộc</p>
                                <select id="select-subject" v-model="subjectId" class="form-control">
                                    <option v-for="subject in listSubject" :value="subject.id">{{subject.name}}</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label>Giáo viên:</label><sup style="color: red"> *</sup>
                                <p class="error-message" v-bind:class="{ hidden : !isShowErrorTeacher}">
                                    Trường này là bắt buộc</p>
                                <select id="select-teacher" v-model="teacherId" class="form-control">
                                    <option v-for="teacher in listTeacher" :value="teacher.id">{{teacher.name}}</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label>Phòng học:</label>
                                <select v-model="roomId" class="form-control">
                                    <option value="0">Mặc định</option>
                                    <option v-for="room in listRoom" :value="room.id">{{room.name}}</option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="saveTimeSchedule()">
                        Lưu
                    </button>
                </div>
            
            </div>
        </div>
    </div>
    
    <div class="modal fade bd-example-modal-lg" id="modal_delete_schedule" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa</h5>
                </div>
                <div class="modal-body" style="text-align: center">
                    <h5>Bạn có muốn xóa không?</h5>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Đóng</button>
                    <button id="btn_submit_delete" type="button" class="btn btn-primary btn-sm">
                        Xóa
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>