<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/admin_template}"
      th:with="currentPage='time_schedule'">
<head>
    <title>Home</title>
    <script type="text/javascript" src="/custom/js/admin/time_schedule/time_schedule.js"></script>
    <link href="/libs/select2/dist/css/select2.css" rel="stylesheet"/>
    <script src="/libs/select2/dist/js/select2.full.js" type="text/javascript"></script>
    <style>
        .list_col_time{
            display: flex;
            flex-direction: column;
            width: 12.5%;
        }
        .col_time{
            height: 50px;
            width: 100%;
            border: 1px solid #ccc;
            text-align: center;
            line-height: 50px;
        }
        .col_time:first-child {
            border: none;
        }
        .list-subject {
            display: flex;
            flex-direction: column;
            width: 12.5%;
        }
        
        .subject-item, .subject-item-title{
            height: 50px;
            width: 100%;
            border: 1px solid #ccc;
            text-align: center;
            line-height: 50px;
        }
        .subject-item-title {
            font-weight: bold;
        }
        .btn-end-col {
            border: none;
            height: 32px;
            background-color: blue;
            color: white;
            width: 90%;
            margin: 16px auto;
        }
        .btn-end-col:hover {
            color: white;
        }
        .subject-item:disabled {
            color: black;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layouts/import :: import_lib_datatable"></div>
    <div th:replace="layouts/import :: import_lib_bootstrap_time"></div>
    <div th:fragment="table-admin">
        
        <div id="time_schedule">
            <div style="display: flex; align-items: center; margin-bottom: 16px">
                <label style="margin-bottom: 0">Chọn lớp: </label>
                <select id="select-class" style="width: 160px; border-radius: 4px" v-model="className">
                    <option v-bind:id="'class_id_' + classs.id" v-for="classs in listClass">{{classs.name}}</option>
                </select>
            </div>
            <h2 style="text-align: center; margin-bottom: 16px;">
                Thời khóa biểu lớp {{className}}
            </h2>
            <div style="display: flex">
                <div class="list_col_time">
                    <div class="col_time"></div>
                    <div class="col_time">07:00 - 07:50</div>
                    <div class="col_time">07:50 – 08:40</div>
                    <div class="col_time">08:50 - 09:40</div>
                    <div class="col_time">09:50 - 10:40</div>
                    <div class="col_time">10:40 – 11:30</div>
                    <div class="col_time">13:30 – 14:20</div>
                    <div class="col_time">14:20 – 15:10</div>
                    <div class="col_time">15:20 – 16:10</div>
                    <div class="col_time">16:10 – 17:00</div>
                </div>
        
                <div class="list-subject">
                    <div class="subject-item-title">Thứ hai</div>
                    <select :disabled="!isEditing1" v-for="timeSchedule in listTimeScheduleMonday" v-model="timeSchedule.subject" class="subject-item">
                        <option v-for="subject in listSubject" :value="subject.name">{{subject.name}}</option>
                    </select>
                    <button id="btn-end-col-MONDAY" class="btn btn-end-col" v-if="listTimeScheduleMonday.length > 0" type="button">{{isEditing1 ? 'Cập nhật' : 'Sửa'}}</button>
                </div>
        
                <div class="list-subject">
                    <div class="subject-item-title">Thứ ba</div>
                    <select :disabled="!isEditing2" v-for="timeSchedule in listTimeScheduleTuesday" v-model="timeSchedule.subject" class="subject-item">
                        <option v-for="subject in listSubject" :value="subject.name">{{subject.name}}</option>
                    </select>
                    <button id="btn-end-col-TUESDAY" class="btn btn-end-col" v-if="listTimeScheduleTuesday.length > 0" type="button">{{isEditing2 ? 'Cập nhật' : 'Sửa'}}</button>
                </div>
                <div class="list-subject">
                    <div class="subject-item-title">Thứ tư</div>
                    <select :disabled="!isEditing3" v-for="timeSchedule in listTimeScheduleWednesday" v-model="timeSchedule.subject" class="subject-item">
                        <option v-for="subject in listSubject" :value="subject.name">{{subject.name}}</option>
                    </select>
                    <button id="btn-end-col-WEDNESDAY" class="btn btn-end-col" v-if="listTimeScheduleWednesday.length > 0" type="button">{{isEditing3 ? 'Cập nhật' : 'Sửa'}}</button>
                </div>
    
                <div class="list-subject">
                    <div class="subject-item-title">Thứ năm</div>
                    <select :disabled="!isEditing4" v-for="timeSchedule in listTimeScheduleThursday" v-model="timeSchedule.subject" class="subject-item">
                        <option v-for="subject in listSubject" :value="subject.name">{{subject.name}}</option>
                    </select>
                    <button id="btn-end-col-THURSDAY" class="btn btn-end-col" v-if="listTimeScheduleThursday.length > 0" type="button">{{isEditing4 ? 'Cập nhật' : 'Sửa'}}</button>
                </div>
    
                <div class="list-subject">
                    <div class="subject-item-title">Thứ sáu</div>
                    <select :disabled="!isEditing5" v-for="timeSchedule in listTimeScheduleFriday" v-model="timeSchedule.subject" class="subject-item">
                        <option v-for="subject in listSubject" :value="subject.name">{{subject.name}}</option>
                    </select>
                    <button id="btn-end-col-FRIDAY" class="btn btn-end-col" v-if="listTimeScheduleFriday.length > 0" type="button">{{isEditing5 ? 'Cập nhật' : 'Sửa'}}</button>
                </div>
                
                <div class="list-subject">
                    <div class="subject-item-title">Thứ bảy</div>
                    <select :disabled="!isEditing6" v-for="timeSchedule in listTimeScheduleSaturday" v-model="timeSchedule.subject" class="subject-item">
                        <option v-for="subject in listSubject" :value="subject.name">{{subject.name}}</option>
                    </select>
                    <button id="btn-end-col-SATURDAY" class="btn btn-end-col" v-if="listTimeScheduleSaturday.length > 0" type="button">{{isEditing6 ? 'Cập nhật' : 'Sửa'}}</button>
                </div>
    
                <div class="list-subject">
                    <div class="subject-item-title">Chủ nhật</div>
                    <select :disabled="!isEditing7" v-for="timeSchedule in listTimeScheduleSunday" v-model="timeSchedule.subject" class="subject-item">
                        <option v-for="subject in listSubject" :value="subject.name">{{subject.name}}</option>
                    </select>
                    <button id="btn-end-col-SUNDAY" class="btn btn-end-col" v-if="listTimeScheduleSunday.length > 0" type="button">{{isEditing7 ? 'Cập nhật' : 'Sửa'}}</button>
                </div>

            </div>
        </div>
        
        
    </div>
    
    
    
    <div class="modal fade bd-example-modal-lg" id="modal_delete_schedule" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa</h5>
                </div>
                <div class="modal-body" style="text-align: center">
                    <h5>Bạn có muốn xóa không?</h5>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Đóng</button>
                    <button id="btn_submit_delete" type="button" class="btn btn-primary btn-sm">
                        Xóa
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>