<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{layouts/admin_template}"
      th:with="currentPage='tuition_status'">
<head>
    <title>Quản lý tình trạng học phí</title>
    <style>
    </style>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layouts/import :: import_lib_datatable"></div>
    <div th:replace="layouts/import :: import_lib_bootstrap_time"></div>
    <div th:fragment="table-admin">

    </div>


</div>
</body>
</html>